html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
   margin: 3.5rem 0;
}
body {
  background-color: #7e7474;
  padding: 0;
  margin:  1rem 0;
  height: 90vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  /* margin: -1rem 0; */
  height: 90vh;
  width:99vw
}

/* Layout */
.container {
  position: relative;
  top: -0.2rem;
  height: 90vh;
  width: 100%;
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  /* max-width: 0.2rem 0; */
  padding: 0.5rem 0;
}
header {
  grid-area: header;
  /* overflow: hidden; */
  background-color: #424642bb;
  position: fixed;
  top: 0;
  width: 100%;
  height: 5vh;
}
main {
  height: 100%;
  top: 5rem;
  width: 90%;
  padding: 0 3rem;
}
footer {
  grid-area: footer;
  background-color: #424642b6;
  bottom: 0rem;
  width: 100%;
  height: 5vh;

}
/* Common */
h1 {
  font-size: 2rem;
  padding: 1rem 0;
}
.h1{
  margin-bottom: 8rem 0;
}

h2 {
  color: #ffffff;
  margin: -2rem 0;
  font-size: 1.7rem;
  padding: 2rem 8rem;
}

h3 {
  color: #ffffff;
  margin: -2rem 0;
  font-size: 1.7rem;
  padding: 2rem 8rem;
}

a {
  color:#fff;
  font-size:2rem;
  text-decoration: none;
  border-radius:0.5rem;
  margin:-8rem 0;
  letter-spacing: 0.2rem;
}

a:hover {
  color: #ff8000;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}
input,
textarea,
button {
  padding: 0.6rem 0.8rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

select{
  display:flex;
  justify-content:space-around;
  width: 5.5rem;
  height: 3.5rem;
  padding: 0.6rem 0.6rem;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  font-family: Helvetica, Arial, sans-serif;
}
button {
  background-color: #810000;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}
input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #404040 solid;
}
button.primary {
  background-color: #f0c040;
}
button.block {
  width: 100%;
}
/* Header */
header a {
  color: #ffffff;
  padding: 1rem;
}
a.brand {
  color: #f25287;
  font-size: 3rem;
  font-weight: bold;
}
.badge {
  background-color: #f02020;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}
.row {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}
.min-30 {
  min-width: 30rem;
}

/* Image */
img {
  border-radius: 0.5rem;
}
img.small {
  max-width: 5rem;
  width: 100%;
}
img.medium {
  max-width: 35rem;
  width: 100%;
   /* border-top-left-radius: 12rem;
  border-bottom-right-radius: 12rem; */
  border-radius: 1rem;
}
img.large {
  margin-top: 0rem;
  height: 84.8vh;
  width: 90%;
}

/* Card */
.card {
  background-color: #dae1e7;
  /* border-top-left-radius: 12rem;
  border-bottom-right-radius: 12rem; */
  border-radius: 1rem;
  margin: 0.5rem 0.5rem;
}

.card_product{
  background-color:#41444b;
  border-radius: 0.5rem;
  margin: 2rem  1rem;
}

.card_cart{
  background-color:#41444b;
  border-radius: 0.5rem;
  margin: 2rem 5rem ;
}

.card_order{
  background-color:#41444b;
  border-radius: 0.5rem;
  margin: 2rem 5rem ;
}

.card_payment{
   background-color:#41444b;
  border-radius: 0.5rem;
  margin: 2rem 5rem ;
}
.card-body {
  padding: 1rem 1rem;
}
.card-body > * {
  margin-bottom: -20rem 0;
}
.card h2{
  color: #150485;
}
.card h2:hover {
  color: #ff8000;
}
.price {
  background-color:#f25287;
  width: 62%;
  border-radius: 0.5rem;
  padding: 0 0.6rem;
  font-size: 1.8rem;
  margin:2rem 0;
  color: #222831;
}
/* Rating */
.rating{
  margin: -1rem 0;
  padding: 0.1rem 0;
  font-size: 5rem;
}
.rating span {
  font-size: 1.3rem;
  color: #f0c040;
  margin: -2rem 0.1rem;
}
.rating span:last-child {
  background-color:#f25287;
  border: #ff8000 1px solid;
  border-radius: 0.5rem;
  padding:  0 0.1rem;
  margin: 0rem 6rem;
  color: #222831;
}
/* Alert */
.loading {
  display: block !important;
}
.success {
  border: 1px solid #f0c040;
  border-radius: 0.5rem;
  padding: 0 0.3rem;
  color: #20a020;
}
.danger {
  border: 1px solid #f0c040;
  border-radius: 0.5rem;
  padding: 0 0.3rem;
  color: #fa1e0e;
  background-color: #fbe0d8;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #f0c040;
  background-color: black;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}

.alert-success {
  color: #20a020;
  background-color: #eeffe0;
}

.fas{
  position: relative;
  top:1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:8rem;
  color:#a02020;
   margin-top: 3rem;

}

h3{
  position: relative;
  top:1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:3rem;
  color:#a02020;
  margin-bottom: 2rem;
}

/* ----footer---- */

.cred_footer{
 position: relative;
 margin: 0 3rem;
 padding: -2rem -2rem;
 left:-6.5vw;
 font-size: 1.5rem;
 letter-spacing: 0.2rem;
 color: #393e46;
 text-decoration: none;
}

.cred-link{
  border:#98651e 1px solid;
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
  font-size:1.5rem;
  position: relative;
  left: -8vw;
  margin: 0 1rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-decoration: none;
}

.right{
  position: relative;
  left: -8vw;
  margin: -2rem 3rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #393e46;
}

/* Form */
.form {
  max-width: 60rem;
  margin: 0 auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
  /* display: block; */
}

/* Dropdown */
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: #203040;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* Checkout Steps */
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}
.checkout-steps > div.active {
  border-top-color: #f08000;
  color: #f08000;
}
/* Table */
.table {
  width: 100vw;
  border-collapse: collapse;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}
.table td,
.table th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}
.table button {
  margin: 0 0.2rem;
}

/* Carousel */
.carousel .slide img {
  max-width: 30rem;
}

/* Search */
.search button {
  border-radius: 0 0.5rem 0.5rem 0;
  border-right: none;
  margin-right: 0.5rem;
}
.search input {
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: none;
  margin-left: 0.5rem;
}

/*---------------------------------------------------*/
/*****************************************************/
/*---------------------------------------------------*/

@media screen and (max-width: 750px) {
  .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

header {
  grid-area: header;
  overflow: hidden;
  background-color: #a7bbc7;
  position: fixed;
  top: 0;
  width: 100%;
  height: 6vh;
  padding: 0 -1rem;
}

  /*-------- footer -------*/
 footer {
  width: 100vw;
  height: 9vh;
}

.cred_footer{
 position: relative;
 margin: 0 0.6rem;
 padding: -2rem -2rem;
 left:-6vw;
 color: #98651e;
 text-decoration: none;
 font-size:1rem;
}
.cred-link{
  display: hidden;
  border:#98651e 1px solid;
  border-radius: 0.5rem;
  padding: 0.1rem 0.5rem;
  font-size:1rem;
  font-weight:700;
  position: relative;
  left: -6vw;
  margin: 0 0.3rem;
  text-transform: uppercase;
  text-decoration: none;
}
.right{
  margin: -2rem 3rem;
  text-decoration: none;
  color: #fff;
  font-size:1rem;
  font-weight:800;
}
a.brand {
  color: #150e56;
  font-size: 2rem;
  font-weight: bold;
}
a {
  font-size: 1.6rem;

}
.badge {
  background-color: #f02020;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}

}
