html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}

/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
header {
  grid-area: header;
  background-color: #203040;
}
main {
  grid-area: main;
  padding: 1rem;
}
footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
  height:4rem;
}
/* Common */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

a {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}
input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  background-color: #810000;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}
input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #404040 solid;
}
button.primary {
  background-color: #f0c040;
}
button.block {
  width: 100%;
}
/* Header */
header a {
  color: #ffffff;
  padding: 1rem;
}
a.brand {
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
}
.badge {
  background-color: #f02020;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}
.min-30 {
  min-width: 30rem;
}

/* Image */
img {
  border-radius: 0.5rem;
}
img.small {
  max-width: 5rem;
  width: 100%;
}
img.medium {
  max-width: 35rem;
  width: 100%;
  /* height:15vh; */
}
img.large {
  margin-top: 0rem;
  height: 80vh;
  width: 90%;
}

/* Card */
.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
}
.card_product{
  border: 0.1rem #c0c0c0 solid;
  background-color: #98651e;
  border-radius: 0.5rem;
  margin: 2rem  1rem;
  width: 30rem;
  height: 20rem;
}

.card_cart{
  border: 0.1rem #c0c0c0 solid;
  background-color: #98651e;
  border-radius: 0.5rem;
  margin: 8rem 5rem ;
  width: 28rem;
  height: 11rem;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: -20rem 0;
}
.price {
  background-color:#f0d394;
  border-radius: 0.5rem;
  padding: 0 0.6rem;
  font-size: 2rem;
  margin:2rem 0;
}
/* Rating */
.rating{
  margin: -1rem 0;
  padding: 0.5rem 0;
}
.rating span {
  font-size: 1.2rem;
  color: #f0c040;
  margin: -2rem 0.1rem;
}
.rating span:last-child {
  background-color:#f0d394;
  border: #ff8000 1px solid;
  border-radius: 0.5rem;
  padding:  0 0.1rem;
  margin: -2rem 0.1rem;
  color: #222831;
}
/* Alert */
.success {
  border: 1px solid #f0c040;
  border-radius: 0.5rem;
  padding: 0 0.3rem;
  color: #20a020;
}
.danger {
  border: 1px solid #f0c040;
  border-radius: 0.5rem;
  padding: 0 0.3rem;
  color: #fa1e0e;
  background-color: #fbe0d8;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #f0c040;
  background-color: black;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}

.fas{
  position: relative;
  top:3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:15rem;
  color:#a02020
}

h3{
  position: relative;
  top:3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:5rem;
  color:#a02020
}

/* ----footer---- */

.cred_footer{
 position: relative;
 margin: 0 3rem;
 padding: -2rem -2rem;
 left:-6.5vw;
 font-size: 1.5rem;
 letter-spacing: 0.2rem;
 color: #98651e;
 text-decoration: none;
}

.cred-link{
  border:#98651e 1px solid;
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
  font-size:1.5rem;
  position: relative;
  left: -8vw;
  margin: 0 1rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-decoration: none;
}

.right{
  position: relative;
  left: -8vw;
  margin: -2rem 3rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}
/* Form */
.form {
  max-width: 60rem;
  margin: 0 auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
  display: block;
}
/* Dropdown */
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: #203040;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/*---------------------------------------------------*/
/*****************************************************/

@media screen and (max-width: 750px) {

  /*-------- footer -------*/
  footer {
  width: 100vw;
  height: 6vh;
  left: 0.2rem;
}

.cred_footer{
 position: relative;
 margin: 0 0.6rem;
 padding: -2rem -2rem;
 left:-8vw;
 color: #98651e;
 text-decoration: none;
 font-size:1rem;
}

.cred-link{
  display: hidden;
  border:#98651e 1px solid;
  border-radius: 0.5rem;
  padding: 0.1rem 0.5rem;
  font-size:1rem;
  font-weight:700;
  position: relative;
  left: -8vw;
  margin: 0 0.3rem;
  text-transform: uppercase;
  text-decoration: none;
}

.right{
  margin: -2rem 3rem;
  text-decoration: none;
  color: #fff;
  font-size:1rem;
  font-weight:800;
}

/*-----row + cul-------*/

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 0 1rem;
  border:#faf3f3 1px solid;
  width: 95%;
}
.row.center {
  font-size:1rem;
  padding:0.5rem 0.5rem;
  justify-content: center;
}

.col-1 {
  flex: 1 1 5rem;
}
.col-2 {
  flex: 2 1 10rem;
}
  /*-----header ------*/
  header{
    grid-area: header;
  background-color: #a7bbc7;
  top: 0;
  width: 100vw;
  height: 4vh;
  left: 0.7rem;
  }
  a.brand {
  font-size:1.5rem;
}
a {
  font-size:1em;
}
/*-------card + image + rating -------*/

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  height:270vh;
}

img {
  border-radius: 0.5rem;
}
img.small {
  max-width: 5rem;
  width: 100%;
  margin-right: 0.2rem;
}
img.medium {
  max-width: 20rem;
  width: 100%;
  height:15vh;
}
img.large {

  margin-top: 1rem;
  height: 80vh;
  width: 90%;
}
h2{
  font-size:1rem;
}
span{
  font-size:1rem;
}
/* Card */
.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
}
.card_product{
  border: 0.1rem #c0c0c0 solid;
  background-color: #98651e;
  border-radius: 0.5rem;
  margin: 2rem  1rem;
  width: 30rem;
  height: 20rem;
}

.card_cart{
  border: 0.1rem #c0c0c0 solid;
  background-color: #98651e;
  border-radius: 0.5rem;
  margin: 8rem 5rem ;
  width: 28rem;
  height: 11rem;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: -20rem 0;
}
.price {
  background-color:#f0d394;
  border-radius: 0.5rem;
  padding: 0 0.6rem;
  font-size: 2rem;
  margin:2rem 0;
}
/* Rating */
.rating{
  margin: -1rem 0;
  padding: 0.5rem 0;
}
.rating span {
  font-size: 1.2rem;
  color: #f0c040;
  margin: -2rem 0.1rem;
}
.rating span:last-child {
  background-color:#f0d394;
  border: #ff8000 1px solid;
  border-radius: 0.5rem;
  padding:  0 0.1rem;
  margin: -2rem 0.1rem;
  color: #222831;
}
/* Form */
.form {
  max-width: 60rem;
  margin: 0 auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
  display: block;
}
}
