* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
box-sizing: border-box;
margin: 3.5rem 0;
}
body {
background-color: #574f7d;
margin: 1rem 0;
height: 90vh;
font-size: 1.6rem;
font-family: Helvetica, Arial, sans-serif;
}
#root {
  height: 100%;
}

/* Layout */
.container {
position: relative;
top: -0.2rem;
height: 100vh;
width: 100%;
display: grid;
grid-template-areas: 'header' 'main' 'footer';
grid-template-columns: 1fr;
max-width: 0.2rem 0;
padding: 0.5rem 0;

}
header {
grid-area: header;
/* overflow: hidden; */
background-color: #1c1427;
position: fixed;
top: 0;
width: 100%;
height: 5vh;

}
main {
 grid-area: main;
 height: 100%;
 width: 100%;
}
footer {
 grid-area: footer;
 background-color: #1c1427;
 padding: 0.5rem 0;
 width: 100%;
 height: 5vh;
}
/* Common */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
 padding: 1rem 0;
 /* color: #ffffff; */
 font-size: 1.4rem;
}

a {
color: #fff;
font-size: 2rem;
text-decoration: none;
border-radius: 0.5rem;
margin-top: -15rem ;
letter-spacing: 0.2rem;

}
.Back{
  position: relative;
  top:2.5rem;
  left: 1rem;
  font-size: 1.8rem;
}
a:hover {
  color: #ff8000;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 2rem;
}
li {
  margin-top: 1rem;
  color: #fff;
}
input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
background-color: #c9cbff;
color: #301b3f;
font-weight: 700;
cursor: pointer;

}
input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #404040 solid;
}
button.primary {
  background-color: #f0c040;
}
button.block {
  width: 100%;
}
button.small {
  font-size: 1.2rem;
}
/* Header */
header a {
  color: #ffffff;
  padding: 1rem;
}
a.brand {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: bold;
}
.badge {
  background-color: #f02020;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.row.center {
  margin:3.5rem 0;
  justify-content: space-around;
}
.row.top {
  align-items: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}
.min-30 {
  min-width: 30rem;
}

/* Image */
img {
  border-radius: 0.5rem;
}
img.small {
  max-width: 5rem;
  width: 100%;
}
img.medium {
  max-width: 29rem;
width: 100%;
/* border-radius: 1rem; */

}
img.large {
height: 100%;
width: 80%;
margin:2.5rem 0;
}

/* Card */
.card {
  /* border: 0.1rem #c0c0c0 solid; */
  background-color: #301b3f;
  border-radius: 1rem;
  margin: 0.5rem ;
}
.card_product {
  background-color: #301b3f;
  border-radius: 0.5rem;
  margin: 2rem 0.5rem;
}

.card_cart {
  background-color: #301b3f;
  border-radius: 0.5rem;
  margin: 2rem 5rem;
}

.card_order {
  background-color: #301b3f;
  border-radius: 0.5rem;
  margin: 2rem 5rem;
}

.card_payment {
  background-color: #a0937d;
  border-radius: 0.5rem;
  margin: 2rem 5rem;
}

.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom:  0.5rem;
}
.price {
  background-color : #eeebdd;
  width: 62%;
  border-radius: 0.5rem;
  padding: 0 0.6rem;
  font-size: 1.8rem;
  margin:2rem 0;
  color: #222831;
}
/* Rating */
.rating{
  margin: -1rem 0;
  padding: 0.1rem 0;
  font-size: 5rem;
}
.rating span {
font-size: 1.3rem;
color: #f0c040;
margin: -2rem 0.1rem;

}
.rating span:last-child {
background-color: #eeebdd;

border: #ff8000 1px solid;
border-radius: 0.5rem;
padding: 0 0.1rem;
margin: 0 6rem;
color: #222831;

}
/* Alert */
.loading {
  display: block !important;
}
.success {
  border: 1px solid #f0c040;
  border-radius: 0.5rem;
  padding: 0 0.3rem;
  color: #20a020;
}
.danger {
  border: 1px solid #f0c040;
  border-radius: 0.5rem;
  padding: 0 0.3rem;
  color: #fa1e0e;
  background-color: #fbe0d8;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #f0c040;
  background-color: black;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}

.alert-success {
  color: #20a020;
  background-color: #eeffe0;
}

.fas {
  position: relative;
  top: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8rem;
  color: #a02020;
  margin-top: 3rem;

}

h3 {
  position: relative;
  top: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: #a02020;
  margin-bottom: 2rem;
}

/* ----footer---- */

.cred_footer {
  position: relative;
  margin: 0 3rem;
  padding: -2rem;
  left: -4vw;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  color: #fff;
  text-decoration: none;
}

.cred-link {
  border: #98651e 1px solid;
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
  font-size: 2rem;
  position: relative;
  left: -8vw;
  margin: 0 1rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-decoration: none;
}

h2.right {
  font-size:1.6rem;
  position: relative;
  left: -8vw;
  margin: -2rem 3rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}


/* Form */
.form {
  max-width: 60rem;
  margin: 0 auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
  /* display: block; */
}
/* Dropdown */
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: #203040;
  margin: 0.4rem 0 0;
  border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* Checkout Steps */
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}
.checkout-steps > div.active {
  border-top-color: #f08000;
  color: #f08000;
}
/* Table */
.table {
  width: 100vw;
  border-collapse: collapse;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #222831;

}
.table td,
.table th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;

}
.table button {
  margin: 0 0.2rem;
}
td{
  color: #fff;
}
/* Carousel */
.carousel .slide img {
  max-width: 30rem;
}
/* Search */
.search button {
  border-radius: 0 0.5rem 0.5rem 0;
  border-right: none;
  margin-right: 0.5rem;
}
.search input {
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: none;
  margin-left: 0.5rem;
}



/*---------------------------------------------------*/
/*****************************************************/
/*---------------------------------------------------*/

@media screen and (max-width: 770px) {
  .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

header {
  grid-area: header;
  overflow: hidden;
  background-color: #a7bbc7;
  position: fixed;
  top: 0;
  width: 100%;
  height: 5vh;
}

  /*-------- footer -------*/
 footer {
  width: 100vw;
  height: 5vh;
}

.cred_footer{
 position: relative;
 margin: 0 0.6rem;
 padding: -2rem -2rem;
 left:-1vw;
 color: #98651e;
 text-decoration: none;
 font-size:1.5rem;
}
.cred-link{
  display: hidden;
  border-radius: 0.5rem;
  padding: 0.1rem 0.5rem;
  font-size:1.5rem;
  font-weight:700;
  position: relative;
  left: -6vw;
  margin: 0 0.3rem;
  text-transform: uppercase;
  text-decoration: none;
}
.right{
  margin: -2rem 3rem;
  text-decoration: none;
  color: #fff;
  font-size:1.2rem;
  font-weight:800;
}
a.brand {
  color: #150e56;
  font-size: 2rem;
  font-weight: bold;
}
a {
  font-size: 1.2rem;

}
.badge {
  background-color: #f02020;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}
a.cred-link{
  font-size: 2rem;
  border: none;
}
div.row.center{
  display: flex;
  justify-content: space-around;
}

}

/*--------------------------------------*/

@media screen and (max-width: 500px) {
  .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

header {
  grid-area: header;
  overflow: hidden;
  background-color: #a7bbc7;
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
}

  /*-------- footer -------*/
 footer {
  width: 100vw;
  height: 10vh;
}

.cred_footer{
 position: relative;
 margin: 0 0.6rem;
 padding: -2rem -2rem;
 left:-1vw;
 color: #98651e;
 text-decoration: none;
 font-size:1.5rem;
}
.cred-link{
  display: hidden;
  border-radius: 0.5rem;
  padding: 0.1rem 0.5rem;
  font-size:1.5rem;
  font-weight:700;
  position: relative;
  left: -6vw;
  margin: 0 0.3rem;
  text-transform: uppercase;
  text-decoration: none;
}
h2.right{
  margin: -2rem 3rem;
  text-decoration: none;
  color: #fff;
  font-size:1rem;
  font-weight:800;
}
a.brand {
  color: #150e56;
  font-size: 2rem;
  font-weight: bold;
}
a {
  font-size: 1.2rem;

}
.badge {
  background-color: #f02020;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}
a.cred-link{
  font-size: 1.5rem;
  border: none;
}
div.row.center{
  display: flex;
  justify-content: space-around;
}

}
